<!DOCTYPE html>
<html>
    <head>
        <title>Exercise 2</title>
    </head>
    <body>
        <div id="exercise">
            <!-- 1) Toon een alert bij het klikken op de Button -->
            <div>
                <button v-on:click="Alert">Show Alert</button>
            </div>
            <!-- 2) Luister naar het "keydown" event en sla de waarde op in een data property "value" -->
            <div>
                <input v-on:keydown="Save" type="text" v-model="Input1">
                <p>{{ value }}</p>
            </div>
            <!-- 3) Pas 2) toe maar registreer het "key down" event enkel wanneer de ENTER toets wordt ingedrukt -->
            <div>
                <input v-on:keydown.13="Enter" v-model="Input2" type="text">
                <p>{{ value }}</p>
            </div>
        </div>
        
        <script src="https://npmcdn.com/vue/dist/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>